<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>anime_jisho_trans.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A92C43526EA43440064B53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A92C44726EA43450064B53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A92C45226EA43450064B53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
